{% extends 'base.html' %}
{% load static %}


{% block css %}
	    <!-- css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/pace.css' %}">
	    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

{% endblock %}

{% block js1 %}
	    <!-- js -->
	    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'js/pace.min.js' %}"></script>
	    <script src="{% static 'js/modernizr.custom.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <form method="post" action="{% url 'add-post' %}" enctype="multipart/form-data">
                <h1>Create Post</h1>
{#                {{ form.as_p }}#}
            <label for="title">Title</label>
            <br>
            <input type="text" id="title" name="title">
            <br>

            <label for="image">Image</label>
            <br>
            <input type="file" id="image" name="image">
            <br>

            <label for="description">Description</label>
            <br>
            <input type="text" id="description" name="description">
            <br><br>

            <!-- You can add more fields as needed (e.g., tags, categories) -->
            {% csrf_token %}
            <button type="submit" value="submit">Add Post</button>
        </form>
    </div>
{% endblock %}

    {% block js2 %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
