<!DOCTYPE html>
<html>
	<head>
		<title>Ravshanov's Blog</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block css %}{% endblock %}
        {% block js1 %}{% endblock %}
	</head>

    <body>
		<div class="container">
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="index.html"><b>Ravshanov's</b> blog</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-favicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="/" data-hover="Home">Home</a></li>
    								<li class="cl-effect-11"><a href="full-width" data-hover="Blog">Blog</a></li>
    								<li class="cl-effect-11"><a href="about" data-hover="About">About</a></li>
    								<li class="cl-effect-11"><a href="contact" data-hover="Contact">Contact</a></li>
{#                                    {% if user.is_superuser %}#}
{#    								<li class="cl-effect-11"><a href="add-post" data-hover="Post">Post</a></li>#}
{#                                    {% endif %}#}
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

        {% block content %}{% endblock %}
        {% block js2 %}{% endblock %}

		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2023 Developer Blog</p>
					</div>
				</div>
			</div>
		</footer>
    </body>
</html>
