{% extends 'base.html' %}
{% load static %}

    {% block css %}
	    <!-- css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/pace.css' %}">
	    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endblock %}

    {% block js1 %}
	    <!-- js -->
	    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'js/pace.min.js' %}"></script>
	    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% endblock %}

    {% block content %}
        <div class="container">
            <form id="loginForm">
                <h2>Login</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>

            <div class="switch">
                <span>Don't have an account?</span>
                <a href="#" onclick="toggleForm()">Register</a>
            </div>

            <form id="registerForm" style="display: none;">
                <h2>Register</h2>
                <label for="registerUsername">Username:</label>
                <input type="text" id="registerUsername" name="registerUsername" required>

                <label for="registerPassword">Password:</label>
                <input type="password" id="registerPassword" name="registerPassword" required>

                <button type="submit">Register</button>
            </form>

            <div class="switch">
                <span>Already have an account?</span>
                <a href="#" onclick="toggleForm()">Login</a>
            </div>
        </div>
        {% endblock %}